<% layout('../views/layouts/boilerplate.ejs') -%>

<div class="row mt-4">
    <div class="alert alert-danger col-4 offset-4" role="alert">
        <i class="fa-solid fa-triangle-exclamation" style="color: #b50808;"></i>
        <%= message %>
      </div>
</div>